<h1>
  {{title}}
</h1>
<hr>
<h2>Favorite ColoR</h2>
<div id="box" [style.backgroundColor]="favoriteColor" >{{favoriteColor}}</div>

<button ion-button>ION</button>

<button type='button' (click)="setColor('blue')">Blue</button>
<button type='button' (click)="setColor('green')">Green</button>
<button type='button' (click)="setColor('red')">Red</button>
<button type='button' (click)="setColor('purple')">Purple</button>
<button type='button' (click)="setColor('#800000')">Rose Red</button>
<br>
<button type='button'(click)="updateColor()">Updated</button>
<hr>
<h2>Favorite Number</h2>
<div>Favorite number = {{favoriteNumber}}</div><br>
<button (click)="setNum(false)">Lower</button>
<button (click)="setNum(true)">Higher</button>
<!--<button (click)="decreaseNum()">Lower</button>
<button (click)="increaseNum()">Higher</button>-->
<button (click)="resetNum()">Reset</button>
<button (click)="updateNum()">Update</button>
<hr>
<button type="button" class="btn btn-default">
  Bootstrap button
  <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star-->
</button>
<ul>
  <li class="text" *ngFor='let item of items | async'>
    {{item.favoriteColor}}
    <!--{{item.$value}}-->
  </li>
</ul>


<ul>
  <li class="text" *ngFor='let item of myItems'>
    {{item.favoriteColor}} - {{item.favoriteNumber}}
  </li>
</ul>