<h1>
  {{title}}
</h1>
<hr>
<h2>Favorite Color Hag</h2>
<div id="box" [style.backgroundColor]="favoriteColor" >{{favoriteColor}}</div>

<button type='button' (click)="setColor('blue')">Blue</button>
<button type='button' (click)="setColor('green')">Green</button>
<button type='button' (click)="setColor('red')">Red</button>
<button type='button' (click)="setColor('purple')">Purple</button>
<button type='button' (click)="setColor('#800000')">Rose Red</button>
<br>
<button type='button'(click)="updateColor()">Updated</button>
<hr>
<h2>Favorite Number</h2>
<div>Favorite number = {{favoriteNumber}}</div><br>
<button (click)="setNum(false)">Lower</button>
<button (click)="setNum(true)">Higher</button>
<!--<button (click)="decreaseNum()">Lower</button>
<button (click)="increaseNum()">Higher</button>-->
<button (click)="resetNum()">Reset</button>

<hr>